<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task List App{% endblock %}</title>

</head>

<body>
    <header>
        <h1>Task List App</h1>
    </header>
    <nav>
        <a href="{% url 'task_list' %}">Task List</a>
        <a href="{% url 'create_task' %}">Create Task</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
